{% extends 'base.html.twig' %}

{% block title %}Cryptomonnaie index{% endblock %}

{% block body %}
    <h1>Cryptomonnaie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Symbol</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cryptomonnaie in cryptomonnaies %}
            <tr>
                <td>{{ cryptomonnaie.id }}</td>
                <td>{{ cryptomonnaie.name }}</td>
                <td>{{ cryptomonnaie.symbol }}</td>
                <td>
                    <a href="{{ path('cryptomonnaie_show', {'id': cryptomonnaie.id}) }}">show</a>
                    <a href="{{ path('cryptomonnaie_edit', {'id': cryptomonnaie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cryptomonnaie_new') }}">Create new</a>
{% endblock %}
