{% extends 'base.html.twig' %}

{% block title %}Blockchain index{% endblock %}

{% block body %}
    <h1>Blockchain index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Cle_api</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blockchain in blockchains %}
            <tr>
                <td>{{ blockchain.id }}</td>
                <td>{{ blockchain.name }}</td>
                <td>{{ blockchain.cleApi }}</td>
                <td>
                    <a href="{{ path('blockchain_show', {'id': blockchain.id}) }}">show</a>
                    <a href="{{ path('blockchain_edit', {'id': blockchain.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blockchain_new') }}">Create new</a>
{% endblock %}
