{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('user_registration') }}">Create new</a><br/>
    <table class="table">
        <thead>
            <tr>
                <th>UsernameCanonical</th>
                <th>Email</th>
                <th>EmailCanonical</th>
                <th>Enabled</th>
                <th>Salt</th>
                <th>Password</th>
                <th>LastLogin</th>
                <th>ConfirmationToken</th>
                <th>PasswordRequestedAt</th>
                <th>Roles</th>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Iban</th>
                <th>Codepin</th>
                <th>Date_naiss</th>
                <th>Username</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.usernameCanonical }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.emailCanonical }}</td>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
                <td>{{ user.salt }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.confirmationToken }}</td>
                <td>{{ user.passwordRequestedAt ? user.passwordRequestedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.adresse }}</td>
                <td>{{ user.iban }}</td>
                <td>{{ user.codepin }}</td>
                <td>{{ user.dateNaiss ? user.dateNaiss|date('Y-m-d') : '' }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}

        <a class="btn btn-primary" href="{{ path('wallet_new') }}">Ajouter un portefeuille</a>

        <h3>Mes portefeuilles</h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Cryptomonnaie</th>
                <th scope="col">Platform</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for w in wallets %}
                <tr>
                    <th scope="row">{{ w.num }}</th>
                    <td>
                        {{ w.nom }}
                    </td>
                    <td>
                        {{ w.crypto }}
                    </td>
                    <td>
                        {{ w.platform }}
                    </td>
                    <td>
                        <a href="{{ path('wallet_show', {'id': w.id}) }}"><i class="far fa-eye fa-2x"></i></a>
                        <a href="{{ path('wallet_edit', {'id': w.id}) }}"><i class="far fa-edit fa-2x"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div id="chart_div"></div>

    {% endif %}

{% endblock %}